body{
    font-family: sans-serif;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header {    
    background: #144acf;
}
.logo { 
    width: 250px;
    position: relative;
    left: 300px;
    top: 35;
}
.cabecalho{
    display:flex;
    font-size: 60px;
    margin-left: 600px;
    margin-top: 10px;
}

.item{
    color: rgb(237, 242, 237);
    position: relative;
    left: 500px;
    bottom: 80px;
    margin-left: 55px;
}

.alura{
    width: 200px;
    position: relative;
    top 700px;
    left: 1000px;
}
.conteudo-principal{
    background-image: linear-gradient(#144acf);
   
}
.tituloum-conteudoprincipal{
    padding-left:600px;    
    padding-top:50px;
    font-size: 70px;
    color:rgb(7, 7, 7)
}
.cursistas{
    background-color: beige;
}
.titulocursistas{
    font-size: 60px;
    font-family: tahoma;
    color:blue;
    text-align: center;
}
.fotocursistas{
    width: 210px;
}